<div class="content">
    <div class="contact-profile">

        <div class="online-users">
            <input type="hidden" id="userID" value="mmd">
            <div class="social-media">
                <span id="onlinesCount"><strong>افراد آنلاین : </strong><span id="onlineCount">12</span></span>
            </div>
        </div>
        
        <div class="gap-profile">
            
            <h3 class="group-name">گروه دور همی برنامه نویسان</h3>
            <img src="http://localhost:8000/profile.jpg"
            alt="http://localhost:8000/profile.jpg" />
    
        </div>
    </div>
        
    <div class="messages pb-5">
        <ul style="padding-bottom: 50px;">
            <li class="sent">
                <img src="https://media-exp1.licdn.com/dms/image/C5603AQE3g9gHNfxGrQ/profile-displayphoto-shrink_200_200/0/1645507738281?e=1659571200&v=beta&t=wtwELdT1gp6ICp3UigC2EgutGAQgDP2sZKUx0mjCTwI"
                    alt="" />
                <p>salam dostan haleton chetore ? az course nodejs razi hastin?</p>
            </li>
            <li class="replies">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>salam are babab khialet rahat</p>
            </li>
        </ul>
    </div>
    <div class="message-input">
        <div class="wrap">
            <input type="text" id="messageInput" placeholder="Write your message..." />
            <input type="file" onchange="sendFile(this.files)"/>
            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <div>
                <button class="submit">send</i></button>
                <button class="location" onclick="getLocation()">location</i></button>
            </div>

        </div>
    </div>
</div>